header {

  .container {
    @include displayFlex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    padding-left: 20px;

    .logo {
      @include displayFlex;
      align-items: center;

      .icon-social {
        margin-left: 15px;
        font-size: 50px;
      }
    }

    .time-work {
      display: inline-block;
      color: $dark-blue;
      @include FontQuickSandBold(24px, 1.4);
    }

    .login {
      @include FontQuickSandBold(24px , 1.4);

      a {
        color: $dark-blue;

        &:hover {
          color: $blue;
          text-decoration: none;
        }
      }
    }
  }
}
