header {

  .container {
    padding-left: 20px;
    @include FontQuickSandBold(20px , 1.4);

    .logo {
      @include displayFlex;
      align-items: center;

      .icon-social {
        margin-left: 15px;
      }
    }

    .time-work {
      display: inline-block;
      color: $dark-blue;
      @include FontQuickSandBold(20px, 1.4);
      text-align: center;
    }

    .login {
      color: $dark-blue;
      cursor: pointer;
      text-align: right;
    }
  }
}
@include breakpoint(mmd) {

  header {

    .container {

      .logo {

        img {
          width: 15vw;
        }


        .icon-social {
          width: 5vw;
        }
      }

      .time-work {
        font-size: 3vw;
        text-align: left;
        padding-top: 20px;
      }

      .login {
        font-size: 3vw;
        padding-top: 20px;
      }
    }
  }
}