.navigation {
  background-color: $dark-blue;
  @include FontQuickSandBold(24px ,1.4);

  .container {
    text-align: center;

    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.search {
  background-color: $dark-blue;
  width: 300px;
  height: 50px;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  @include displayFlex;
  align-items: center;
  justify-content: flex-end;

  form {
    width: 245px;
    position: absolute;
    @include displayFlex;
    align-items: center;

    input {
      position: absolute;
      @include FontQuickSandRegular(16px ,1.4);
      width: 0;
      right: 36px;
      opacity: 0;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      background: #ffffff;
      height: 30px;
      padding:0 2px 0 5px;
      color: $dark-blue;
      outline: none;
      -webkit-appearance: none;
      border-radius: 8px;
      border-width: 0;

      &:focus {
        background: #000000;
        color: #ffffff;
        width: 100%;
        opacity: 1;
      }
    }
  }

  &:hover input {
    width: 100%;
    opacity: 1;
  }
}

.srch_btn{
  height: 30px;
  width: 30px;
  position: relative;
  right:0;
  top: 0;
}