.popup.popup-login {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  opacity: 0;

  .popup-login-ui {
    width: 700px;
    @include objAbsoluteMiddle;
    padding: 80px;
    border: 2px solid $dark-blue;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;

    label {
      @include FontQuickSandBold(24px, 1.4);
    }

    .btn {
      width: 100%;
      padding: 15px 25px;
      @include FontQuickSandBold(24px, 1.4);
      background: $dark-blue;
      color: $white;
      border-radius: 10px;
      margin-top: 15px;
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  opacity: 0;

  &.result-success, &.result-fail {
    text-align: center;

    .cta {
      @include FontQuickSandBold(20px, 1.4);
      background: $dark-blue;
      padding: 15px 25px;
      border-radius: 12px;
      text-transform: uppercase;
      display: inline-block;
      color: $white;
      text-decoration: none;
      width: auto !important;
      cursor: pointer;
      border: 2px solid $white;

      &:disabled {
        background: $red;
        color: $white;
        border: 2px solid $dark-blue;
      }

      &:hover {
        color: $dark-blue;
        background: $white;
        border: 2px solid $dark-blue;
      }
    }
  }

  .popup-reservation-ui {
    width: 85%;
    background-color: rgba(255, 255, 255, 0.95);
    border: 5px solid $dark-blue;
    height: auto;
    @include objAbsoluteMiddle;
    border-radius: 10px;
    padding: 30px 10px;
    z-index: 9999;

    .cta-cal {
      width: 100%;
      text-align: center;
      @include displayFlex;
      margin-top: 20px;

      .cta {
        @include FontQuickSandBold(20px, 1.4);
        background: $dark-blue;
        padding: 15px 25px;
        border-radius: 12px;
        text-transform: uppercase;
        display: inline-block;
        color: $white;
        text-decoration: none;
        width: auto !important;
        cursor: pointer;
        border: 2px solid $white;

        &:disabled {
          background: $red;
          color: $white;
          border: 2px solid $dark-blue;
        }

        &:hover {
          color: $dark-blue;
          background: $white;
          border: 2px solid $dark-blue;
        }
      }

      .exit-reservation {
        margin-left: 50px;
      }
    }

    form {

      .set-height {
        height: 60px;
        position: relative;
      }

      select {
        height: 100%;
        width: 100%;
        border-radius: 7px;

        option {
          text-align: center;
        }
      }

      input {
        height: 100%;
        width: 100%;
        border-radius: 7px;
        border: 2px solid $dark-blue;
        text-align: center;

        &:focus {
          outline: none;
          border: 2px solid darkseagreen;
          transition: .2s ease-out;
        }

        &.failed {
          border: 2px solid $red;
          transition: .2s ease-out;
        }
      }

      select {
        border-radius: 7px;
        border: 2px solid $dark-blue;

        &:focus {
          outline: none;
        }
      }

      img {
        position: absolute;
        top: 10px;
        left: 20px;
      }
    }

    .result-success {
      padding: 30px;
      @include FontQuickSandMedium(20px, 1.4);
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      position: relative;
      text-align: center;
    }

    .result-fail {
      padding: 30px;
      @include FontQuickSandMedium(20px, 1.4);
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      position: relative;
      text-align: center;
    }
  }
}

@include breakpoint(xs) {

  .popup.popup-login {

    .popup-login-ui {
      width: 95%;
    }
  }

  .popup.popup-reservation {

    .popup-reservation-ui {

      form {

        .set-height {
          padding-top: 10px;
        }
      }

      .cta-cal {

        .cta {
          padding: 1vw 2vw;
        }
      }
    }
  }
}

