.container {
  padding: 20px;
}


.not-logged-in {
  @include FontQuickSandRegular(30px,1.4);
  padding: 20px;
}

h1 {
  @include FontQuickSandBold(36px, 1.4);
  text-align: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 35px;

  &.section-title {

    &:after {
      content: "";
      width: 100px;
      height: 2px;
      background: $dark-blue;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &.left-underline {

    &:after {
      content: "";
      width: 100px;
      height: 2px;
      background: $dark-blue;
      position: absolute;
      bottom: 30px;
      left: 0;
    }
  }

  &.article-heading {
    text-align: left;
    padding: 0;
  }
}


h2 {
  @include FontQuickSandBold(30px, 1.4);
  text-align: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;

  &.section-title {

    &:after {
      content: "";
      width: 75px;
      height: 2px;
      background: $dark-blue;
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &.left-underline {

    &:after {
      content: "";
      width: 100px;
      height: 2px;
      background: $dark-blue;
      position: absolute;
      bottom: 15px;
      left: 0;
    }
  }

  &.article-section-title {
    text-align: left;
    padding: 0;
  }
}

.content-of-object {

  h1, h2 {
    text-align: left;
  }

  .img-fullwidth {
    width: 100%;
    height: auto;
  }

  .img-middlesquare {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
}

input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}