.teaser {
  position: relative;

  .block1 {
    height: 600px;

    .container {
      position: relative;
      padding: 0;

      .stage-teaser {
        position: relative;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .reservation {
        @include FontQuickSandBold(28px, 1.5);
        color: $dark-blue;
        text-align: center;
        position: absolute;
        top: 2vw;
        left: 20px;

        .cta-start {
          background-color: $dark-blue;
          padding: 5px 25px;
          border-radius: 12px;
        }

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
}