 @font-face {
   font-family: 'nivea_creme_regular';
   src:  url('../fonts/nivea_creme_regular-webfont.woff2') format('woff2'),
         url('../fonts/nivea_creme_regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.hello {
    color: red;
    background: url('../images/icon.jpg');
    font-family: 'nivea_creme_regular';
}

